 :root{
    --background-color-primary : #f1faee;
    --font-h1-primary-comor: #1976d2;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.body_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    flex-wrap: wrap;
    flex-flow: row;
    overflow: hidden;
    width: 100vw;
}
.info_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    gap: 0.5rem;
    flex: 1;
    margin: 0.01rem;
}


.header {
    padding: 0.5rem;
    margin: 0.01rem;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
}

.tags_area {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
}

.profile_section {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.serch_section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.search_comp{
    width: 40%;
}

/* main */
.main_section {
    padding: 0.5rem;
    gap: 0.5rem;
}


.card_section {
    padding: 0.2rem;
    min-width: fit-content;
}

.panel {    
    display: flex;
    width: 100vw;
    flex: 1;
    overflow:hidden;
  }
  .sidebar {
    min-width: 500px;
  } 
 
  .customHandle {
    cursor: ew-resize;
    width: 10px;
    height: 100px;
    margin: 0px -5px;
    border: 2px solid gray;
    border-radius: 2px;
    z-index: 99999;
    overflow: hidden;
    display: flex;
  }
  
  .customResizeBorder {
    cursor: ew-resize;
    width: 5px;
    display: flex;
    z-index: 99999;
    align-items: center ;
    overflow: visible;
  } 

 
 
  