
 .left_section{
    flex:0.3;
    margin: 0.01rem;
    height: 100vh;
    max-width: 250px;
    background-color: var(--primary-color);
} 
.img{
    width: 100%;
}
.logo_container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.image_logo{
    width: 10rem;
}
.redirect_urls{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}
.ul_section{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.ul_section li{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0.2rem;
    gap: 0.5rem;
}