.main_card_wrapper{
    display: flex;
    min-height: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_card_wrapper > img{
    max-width: 18rem;
}

.card_info{
    display: flex;
    flex-direction: column;
    flex: 1;

}
.card_body_topsection{
    display: flex;
    padding: 0.1rem;
    justify-content: space-between;
}
.card_body_info{
    flex: 1;
}
.card__section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 0.3rem;
    flex: 3;
}

.footer_card_info{
    display: flex;
    justify-content: space-between;
    padding-left: 0.3rem;
}

.footer_card_info span{
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0.2rem;
    gap: 0.5rem;
}